<div class="taskbadge taskbadge-<%= task.id %>">
  <div class="task-timeinfo">
    <div>Total: <%= hours_and_minutes(task.branch_duration) %> (<%= decimal_hours(task.branch_duration) %>)</div>
    <% if task.timeslices.length > 0 %>
    <div>Active for 
      <%= distance_of_time_in_words(task.timeslices.first.started, 
                                    task.timeslices.last.finished) %>
    </div>
    <% end %>
    <% unless task.leaf? %>
    <div>
      <%= pluralize(task.children.count, 'sub-task') %>
    </div>
    <% end %>
    <div class="task-actions">
    <%# FIXME Make this unobtrusive JS %>
    <%= link_to 'Delete task', task_path(task), :method => 'delete', 
      :title => 'This will delete this task and all associated timeslices',
      :confirm => 'Are you sure you want to delete this task?' %>
    </div>
  </div>
  <div class="task">
    <div class="task-name">
      <div class="task-toplevel">
      <%= link_to task.root.name, task_path(task) %>
      </div>
      <% if task.level > 1 %>
      <div class="task-midlevel">
      <% task.ancestors[1..-1].each do |ancestor| %>
      <%= link_to ancestor.name, task_path(ancestor) %> &raquo;
      <% end %>
      </div>
      <% end %>

      <% if task.level > 0 %>
      <div class="task-leaflevel">
      <%= link_to task.name, task_path(task) %>
      </div>
      <% end %>
      <% if task.root? %>
      <div class="task-activity">
        Activity (4w):
        <span class="sparkline"><%= task.sparkline %></span>
      </div>
      <% end %>
    </div>
  </div>
</div>
