<h1>Editing task for <%= @client.name %></h1>

<% form_for([@client, @task]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
