<h1>Editing task <%= @task.name %></h1>

<% form_for(@task) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :parent_id %>
    <%= f.collection_select :parent_id, @tasks, :id, :name_with_depth, {:prompt => '-- Top level --'} %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :rate %>
    <%= f.text_field :rate, :size => 4 %> per hour
    <% unless @task.attribute_present? :rate or @task.rate.nil? %>
      <em>This task rate defaults to <%= number_to_currency @task.rate %> per hour</em>
    <% end %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
