<h1>Task for <%= @task.client.name %></h1>

<p>
  <strong>Name:</strong>
  <%=h @task.name %>
</p>

<h2>Timeslices</h2>
<ul>
<% for timeslice in @task.timeslices %>
  <li><%= render :partial => timeslice %>
    <%= link_to 'Edit', timeslice_path(timeslice) %></li>
<% end %>
</ul>

<%= link_to 'Edit task', edit_task_path(@task) %>
<%= link_to 'New timeslice', new_task_timeslice_path(@task) %>
<%= link_to 'Back', client_tasks_path(@task.client) %>
