<h1>Task <%= @task.name %></h1>

<p>
  <strong>Name:</strong>
  <%=h @task.name %>
</p>

<h2>Timeslices</h2>
<ul>
<% for timeslice in @task.timeslices %>
  <li><%= render :partial => timeslice %>
    <%= link_to 'Edit', timeslice_path(timeslice) %>
    <%= link_to 'Destroy', timeslice_path(timeslice), :method => 'delete',
          :confirm => 'Are you sure?' %>
  </li>
<% end %>
</ul>

<%= link_to 'Edit task', edit_task_path(@task) %>
