<% content_for :head do %>
  <%= javascript_include_tag 'jquery.currency.min' %>
  <%= javascript_include_tag 'invoiceform' %>
<% end %>
<h1>Unbilled time for <%=h @task.name %></h1>
<% if @task.has_unbilled_timeslices? %>
  <p>
    Select the timeslices you would like to send to Xero below.  Select the 
    correct contact and account for the invoice.  Hint: if your task name and
    Xero contact have the same name the correct contact will be automatically
    selected.
  </p>
  <hr />
  <% form_for(@task, :url => invoice_task_path(@task)) do |f| %>
    <fieldset>
      <legend>Dates</legend>
      <label for="date">Date:</label>
      <input id="date" class="datepicker" type="text" name="date" size="10" value="<%= @date.to_s %>"/>
      <label for="due_date">Due date:</label>
      <input id="due_date" class="datepicker" type="text" name="due_date" size="10" value="<%= @due_date.to_s %>"/>
    </fieldset>
    <label for="line_amount_types">Amounts are</label>
    <%= select_tag :line_amount_types, options_for_select(
      XeroGateway::Invoice::LINE_AMOUNT_TYPES.collect{|key,value| [value, key]},
      'Exclusive'
    ) %>
    <table>
      <thead>
        <tr>
          <th class="checkbox"><input type="checkbox" id="timeslice_select_all" checked="true"/></th>
          <th>Task</th>
          <th>Rate</th>
          <th>Date</th>
          <th>Hours</th>
          <th>Total</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="4"></td>
          <td class="right"><%= @total_hours %></td>
          <td id="total" class="right"><%= number_to_currency @total_invoice_price %></td>
        </tr>
      </tfoot>
      <tbody>
        <% @timeslices.each do |timeslice| %>
          <tr class="timeslice" data-cost="<%= timeslice.cost %>">
            <td class="checkbox"><%= check_box_tag 'timeslice_ids[]', timeslice.id, true, :class => 'timeslice_toggle' %></td>
            <td><%=h timeslice.task.name_with_ancestors(Task::NAME_SEPARATOR, @task) %></td>
            <td class="right"><%= number_to_currency timeslice.task.rate %></td>
            <td class="right"><%= timeslice.date %></td>
            <td class="right"><%= timeslice.decimal_hours %></td>
            <td class="right"><%= number_to_currency timeslice.cost %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr />
    <%= label_tag :contact, 'Xero contact' %>
    <%= select_tag :contact,
      options_from_collection_for_select(@contacts, :name, :name, @task.name) %>
    <%= label_tag :account_code, 'Account' %>
    <%= select_tag :account_code,
      options_from_collection_for_select(@accounts, :code, :name) %>
    <%= f.submit 'Generate invoice' %>
  <% end %>
<% else %>
  <p>
    Oops!  <%=h @task.name %> doesn&apos;t have any unbilled timeslices.
  </p>
<% end %>
