<h3 id="dayheader-<%= date %>" class="dayheader<%= " closed" if @multiday && timeslices.empty? %>">
  <%= render :partial => 'timesummary', :locals => {:timeslices => timeslices} %>
  <%= link_to date.to_s(:human), timesheet_path(date) -%>
</h3>
<div id="timesheet-<%= date %>" class="timeslice-list">
  <% if timeslices.empty? %>
  <div class="timegap no-timeslices">
    There is currently no time recorded on this day.
  </div>
  <% end %>
  <% for timeslice in timeslices %>
  <%= render :partial => 'timesheet_row', :locals => { :timeslice => timeslice } %>
  <% end %>
  <div id="timeslice-form-<%= date %>" class="timeslice-form">
    <% form_for :timeslice, :url => timesheet_add_path(date), 
       :html => { :id => 'new_timeslice', :autocomplete => 'off' } do |form| %>
      <%= render :partial => form %>
    <% end %>
  </div>
</div>
