<div class="form-item">
  <%= form.label :task_id %>
  <%= form.select :task_id, nested_set_options(Task) {|i| "#{'-' * i.level} #{i.name}"} %>
</div>
<div class="form-item">
  <%= form.label :started_time %>
  <%= form.text_field :started_time, :size => 4 %>
</div>
<div class="form-item">
  <%= form.label :finished_time %>
  <%= form.text_field :finished_time, :size => 4 %>
</div>
