    <tr id="timeslice-<%= timeslice.id %>">
      <td><%= render :partial => timeslice.task %></td>
      <td><%= link_to timeslice.started.to_s(:time_only), edit_timeslice_path(timeslice) %></td>
      <td><%= link_to timeslice.finished.to_s(:time_only), edit_timeslice_path(timeslice) %></td>
      <td><%= hours_and_minutes(timeslice.duration) %></td>
      <td><%= decimal_hours(timeslice.duration) %></td>
      <td>
        <%= link_to 'Delete', timeslice, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
