<div id="timeslice-<%= timeslice.id %>" class="timeslice">
  <div class="timeinfo">
    <div class="timeslice-delete">
      <%= link_to(image_tag('g3340.png'), timeslice, :confirm => 'Are you sure?', :method => :delete) %>
    </div>
    <div class="time startedtime"><%= link_to timeslice.started.to_s(:time_only), edit_timeslice_path(timeslice) %></div>
    <div class="time finishedtime"><%= link_to timeslice.finished.to_s(:time_only), edit_timeslice_path(timeslice) %></div>
    <div class="duration">
      Duration: <%= hours_and_minutes(timeslice.duration) %>
      (<%= decimal_hours(timeslice.duration) %>)
    </div>
  </div>
  <div class="taskinfo">
    <%= render :partial => timeslice.task %>
  </div>
</div>
