<div id="timeslice-<%= timeslice.id %>" class="timeslice gradientbox">
  <div class="timeinfo">
    <div class="timeslice-delete">
      <%= link_to(image_tag('g3340.png'), timeslice, :confirm => 'Are you sure?', :method => :delete) %>
    </div>
    <div class="time startedtime"><%= link_to timeslice.started_time, edit_timeslice_path(timeslice) %></div>
    <div class="time finishedtime"><%= link_to timeslice.finished_time, edit_timeslice_path(timeslice) %></div>
    <div class="duration">
      Duration: <%= timeslice.hours_and_minutes %>
      (<%= timeslice.decimal_hours %>)
    </div>
  </div>
  <div class="taskinfo">
    <%= render :partial => timeslice.task %>
  </div>
</div>
