<h1>Editing timeslice for <%= @timeslice.task.name %></h1>

<% form_for(@timeslice) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :started %>
    <%= f.datetime_select :started, :minute_step => current_user.time_step %>
  </p>
  <p>
    <%= f.label :finished %>
    <%= f.datetime_select :finished, :minute_step => current_user.time_step %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
