<h1><%= link_to '<', "/timesheet/#{@date.yesterday}" -%>
    <%= @date -%>
    <%= link_to '>', "/timesheet/#{@date.tomorrow}" -%></h1>
<ul id="context-menu">
  <li><%= link_to 'CSV', :action => 'index', :date => @date, 
                          :format => 'csv' %></li>
</ul>
<table id="timesheet">
  <thead>
    <tr>
      <th>Task</th>
      <th>Started</th>
      <th>Finished</th>
      <th>Duration</th>
      <th>Decimal time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th id="total_duration"><%= hours_and_minutes(@total_duration) %></th>
      <th id="total_decimal_time"><%= decimal_hours(@total_duration) %></th>
      <th></th>
    </tr>
  </tfoot>
  <tbody id="timesheet">
    <% unless @timeslices.count > 0 %>
    <tr id="no-tasks-row" class="timegap">
      <td colspan="7">No tasks</td>
    </tr>
    <% end %>
    <% for timeslice in @timeslices %>
    <%= render :partial => 'timesheet_row', :locals => { :timeslice => timeslice } %>
    <% end %>
  </tbody>
</table>

<hr />

<h2>Add timeslice</h2>
<% form_for :timeslice, :url => timesheet_add_path(@date), 
            :html => { :id => 'new_timeslice' } do |form| %>
  <%= form.error_messages %>
  <%= render :partial => form %>
  <%= form.submit "Create" %>
<% end %>

<% form_for @task, :url => '/tasks/create' do |form| %>
  <h2>Add task</h2>
  <%= form.error_messages %>
  <div class="form-item">
    <%= form.label :parent_id %>
    <%= form.collection_select :parent_id, @tasks, :id, :name_with_depth, {:prompt => '-- Top level --'} %>
  </div>
  <div class="form-item">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="form-item">
  <%= form.submit('Add task') %>
<% end %>
