<ul id="context-menu">
  <li><%= link_to 'CSV', :action => 'index', :date => @date, 
                          :format => 'csv' %></li>
</ul>
<h2 class="dayheader">
  <%= link_to(image_tag('g3625.png'), "/timesheet/#{@date.yesterday}") -%>
  <%= @date -%>
  <%= link_to(image_tag('g3631.png'), "/timesheet/#{@date.tomorrow}") -%>
</h2>
<div id="timesheet">
  <% unless @timeslices.count > 0 %>
  <div id="no-tasks-row" class="timegap">
    <td colspan="7">No tasks</td>
  </div>
  <% end %>
  <% for timeslice in @timeslices %>
  <%= render :partial => 'timesheet_row', :locals => { :timeslice => timeslice } %>
  <% end %>
</div>

<hr />

<h2>Add timeslice</h2>
<% form_for :timeslice, :url => timesheet_add_path(@date), 
            :html => { :id => 'new_timeslice' } do |form| %>
  <%= form.error_messages %>
  <%= render :partial => form %>
  <%= form.submit "Create" %>
<% end %>

<% form_for @task, :url => '/tasks/create' do |form| %>
  <h2>Add task</h2>
  <%= form.error_messages %>
  <div class="form-item">
    <%= form.label :parent_id %>
    <%= form.collection_select :parent_id, @tasks, :id, :name_with_depth, {:prompt => '-- Top level --'} %>
  </div>
  <div class="form-item">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="form-item">
  <%= form.submit('Add task') %>
<% end %>
