<% content_for :head do %>
  <%= javascript_include_tag 'taskform' %>
<% end %>
<ul id="context-nav">
  <li>
    <%= link_to(image_tag('g3625.png'), "/timesheet/#{@date.yesterday}") -%>
    <%
      daterange = @date.to_s
      daterange += ' - ' + @end_date.to_s if @date != @end_date 
    %>
    <input id="dateselect" type="text" value="<%= daterange %>"/>
    <input id="dateselect-go" type="button" value="Go" />
    <%= link_to(image_tag('g3631.png'), "/timesheet/#{@end_date.tomorrow}") -%>
  </li>
  <li>
    <% if @date == @end_date %>
    <%= link_to 'Export', { :action => 'index', :date => @date, 
                   :format => 'csv' }, :class => 'export' %>
    <% else %>
    <%= link_to 'Export', { :action => 'index', :date => @date, 
                   :end_date => @end_date, :format => 'csv' }, 
                   :class => 'export' %>
    <% end %>
  </li>
</ul>
<ul id="expand-collapse-controls">
  <li id="collapse-all">Collapse all</li>
  <li id="expand-all">Expand all</li>
</ul>

<div id="timesheet" class="<%= @multiday ? "multiday" : "singleday" %>">
<%#
Split the timeslices array into multiple days
-%>
<% (@date..@end_date).each do |date|%>
<%= render :partial => 'day', :locals => { 
          :timeslices => @timeslices.find_all {|t| t.started.to_date == date}, 
          :date => date } %>
<% end %>
</div>

<div class="task-form">
<h2>Add task</h2>
<% form_for @task, :url => '/tasks/create' do |form| %>
<%= render :partial => 'tasks/form', :object => form %>
<% end %>
</div>
