<h1><%= link_to '<', "/timesheet/#{@date.yesterday}" -%>
    <%= @date -%>
    <%= link_to '>', "/timesheet/#{@date.tomorrow}" -%></h1>
<table id="timesheet">
  <thead>
    <tr>
      <th>Task</th>
      <th>Started</th>
      <th>Finished</th>
      <th>Duration</th>
      <th>Decimal time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="timesheet">
    <% unless @timeslices.count > 0 %>
    <tr>
      <td colspan="7">No tasks</td>
    </tr>
    <% end %>
    <% for timeslice in @timeslices %>
    <%= render :partial => 'timesheet_row', :locals => { :timeslice => timeslice } %>
    <% end %>
  </tbody>
</table>

<hr />

<% form_for(@timeslice) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :task_id %>
    <%= select_tag(:task_id, 
            options_from_collection_for_select(Task.all, :id, :name)) %>
    <%= f.label :started_time %>
    <%= f.text_field :started_time, :size => 4 %>
    <%= f.label :finished_time %>
    <%= f.text_field :finished_time, :size => 4 %>
    <%= f.submit "Create" %>
  </p>
<% end %>
