<% content_for :head do %>
  <%= javascript_include_tag 'taskform' %>
  <%= javascript_include_tag 'timeslice' %>
  <%= javascript_tag("TIMESLICE_GRANULARITY = #{current_user.time_step}") %>
<% end %>
<ul id="context-nav">
  <li>
    <%= form_tag(timeslices_path, :method => :get, :id => 'timesheet_filter') %>
    <%= link_to(image_tag('g3625.png'), "/timesheet/#{@date.yesterday}") -%>
    <input class="dateselect" type="text" name="date" size="10" value="<%= @date.to_s %>"/>
    <input class="dateselect" type="text" name="end_date" size="10" value="<%= @end_date.to_s %>"/>
    <%= link_to(image_tag('g3631.png'), "/timesheet/#{@end_date.tomorrow}") -%>
    <%= select_tag(:task_id, '<option value="">-- All tasks --</option>' +
      options_from_collection_for_select(current_user.tasks.roots, :id, :name,
        params[:task_id].to_i)) %>
    <input id="dateselect-go" type="submit" value="Go" />
    </form>
  </li>
</ul>

<% unless @multiday %>
<div id="timeslice-form-<%= @date %>" class="timeslice-form">
  <% form_for :timeslice, :url => timesheet_add_path(@date), 
     :html => { :id => 'new_timeslice', :autocomplete => 'off' } do |form| %>
    <%= render :partial => form %>
  <% end %>
</div>
<% end %>

<ul id="expand-collapse-controls">
  <% if @multiday %>
    <li id="collapse-all">Collapse all</li>
    <li id="expand-all">Expand all</li>
  <% end %>
  <li>
    <%= export_link('Export') %>
  </li>
</ul>

<div id="timesheet" class="<%= @multiday ? "multiday" : "singleday" %>">
<%#
Split the timeslices array into multiple days
-%>
<% (@date..@end_date).each do |date|%>
<%= render :partial => 'day', :locals => { 
          :timeslices => @timeslices.find_all {|t| t.started.to_date == date}, 
          :date => date } %>
<% end %>
</div>
