<h1>New timeslice</h1>
<% form_for([@task, @timeslice]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :started %>
    <%= f.time_select :started %>
  </p>
  <p>
    <%= f.label :finished %>
    <%= f.time_select :finished %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', task_path(@task) %>
