<h1>Timeslice for <%= @client.name %> - <%= @task.name %></h1>

<p>
  <strong>Started:</strong>
  <%= @timeslice.started %>
</p>
<p>
  <strong>Finished:</strong>
  <%= @timeslice.finished %>
</p>


<%= link_to 'Edit', edit_client_task_timeslice_path(@client, @task, @timeslice) %>
<%= link_to 'Back', client_tasks_path(@client) %>
