<h1>Timeslice for <%= @timeslice.task.name %></h1>

<p>
  <strong>Started:</strong>
  <%= @timeslice.started %>
</p>
<p>
  <strong>Finished:</strong>
  <%= @timeslice.finished %>
</p>


<%= link_to 'Edit timeslice', edit_timeslice_path(@timeslice) %>
<%= link_to 'Back', task_path(@timeslice.task) %>
