<% form_for @user do |form| %>
  <%= form.error_messages %>
  <div class="form-item form-item-block">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="form-item form-item-block">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="form-item form-item-block">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="form-item form-item-block">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <div class="form-item form-item-block">
    <%= form.submit 'Submit' %>
  </div>
<% end %>
