<div>
<p>
<%= link_to client.name, client %> (<%= client.email %>)
</p>
<p><%= client.tasks.count %> tasks</p>
<p>
    <%= link_to 'Edit', edit_client_path(client) %>
    <%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %>
</p>
</div>
