<p>
  <b>Name:</b>
  <%=h @client.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @client.email %>
</p>

<h2>Tasks</h2>

<ul>
  <% for task in @client.tasks %>
  <li><%= render :partial => task %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'New task', new_client_task_path(@client) %> |
<%= link_to 'Back', clients_path %> |
