<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Timesheet: <%= @date %></title>
  <%= stylesheet_link_tag ['scaffold','timesheet'] %>
  <%= javascript_include_tag [
        'jquery-1.3.2.min.js',
        'jquery-ui-1.7.2.custom.min.js',
        'jquery.timeentry.min.js',
        'application'
      ] %>
</head>
<body>

<div id="header">
  <h1>DogSheet</h1>
  <ul id="nav">
    <% if current_user %>
      <li><%= link_to 'Timesheet', '/' %></li>
      <li><%= link_to 'Tasks', tasks_path %></li>
      <li><%= link_to 'Edit Profile', profile_path %></li>
      <li><%= link_to 'Logout', logout_path %></li>
    <% else %>
      <li><%= link_to 'Login', login_path %></li>
      <li><%= link_to 'Register', new_user_path %></li>
    <% end %>
  </ul>
</div>

<div id="page">
<p id="flash" style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</div>
</body>
</html>
